:root {
  --white: white;
  --black: black;
}

.div-block {
  background-image: radial-gradient(circle farthest-side, #3d1313, #08070e);
  width: 100%;
  height: 100vh;
}

.div-block-2 {
  background-color: rgba(0, 0, 0, .5);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-left: 120px;
  padding-right: 120px;
  display: flex;
}

.div-block-3 {
  flex-flow: column;
  width: 100%;
  height: 100vh;
  padding-top: 20px;
  display: flex;
}

.div-block-4 {
  justify-content: space-between;
  width: 100%;
  height: 5%;
  display: flex;
}

.div-block-5 {
  border: .25px solid #fff;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  height: 100%;
  display: flex;
}

.div-block-6 {
  justify-content: space-between;
  width: 130px;
  height: 100%;
  display: flex;
}

.div-block-7, .div-block-8 {
  opacity: .2;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 100%;
  display: flex;
}

.div-block-9, .div-block-10, .div-block-11 {
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 100%;
  display: flex;
}

.image {
  opacity: 1;
  height: 60%;
}

.heading {
  color: #fff;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  font-family: Generalsans, sans-serif;
  font-size: 12px;
  line-height: 20px;
  display: flex;
}

.image-2 {
  height: 60%;
}

.image-3 {
  opacity: .2;
  height: 60%;
}

.image-4 {
  opacity: 1;
  height: 60%;
}

.image-5 {
  opacity: .2;
  height: 60%;
}

.div-block-12 {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.div-block-13 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.div-block-14 {
  background-color: rgba(217, 217, 217, .1);
  border-radius: 15px;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.div-block-14.b {
  background-color: rgba(0, 0, 0, 0);
  height: 20px;
  padding-top: 0;
  padding-bottom: 0;
}

.div-block-15, .div-block-16, .div-block-17 {
  width: 180px;
}

.heading-2 {
  color: #fff;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Generalsans, sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 16px;
  display: flex;
}

.heading-2.b {
  justify-content: flex-end;
  align-items: center;
}

.heading-3 {
  font-size: 12px;
}

.heading-4 {
  opacity: .5;
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Generalsans, sans-serif;
  font-size: 11px;
  font-weight: 200;
  line-height: 24px;
}

.heading-5 {
  text-align: center;
}

.heading-6 {
  opacity: .5;
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Generalsans, sans-serif;
  font-size: 11px;
  font-weight: 200;
  line-height: 24px;
}

.image-6 {
  mix-blend-mode: lighten;
  width: 100%;
}

.div-block-18 {
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 40%;
  display: flex;
}

.div-block-19 {
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 0;
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
}

.div-block-20 {
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  height: 60%;
  padding-top: 20px;
  display: flex;
}

.div-block-21 {
  flex-flow: column;
  justify-content: space-between;
  height: 60%;
  padding-top: 20px;
  display: flex;
}

.div-block-22 {
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  height: 60%;
  padding-top: 20px;
  display: flex;
}

.div-block-23 {
  display: none;
}

.div-block-30 {
  opacity: .5;
  color: #fff;
  letter-spacing: .5px;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-family: Generalsans, sans-serif;
  font-size: 9px;
  font-weight: 200;
  display: flex;
}

.div-block-31 {
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.div-block-32 {
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  display: flex;
}

.div-block-33 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  align-items: center;
  height: 100px;
  display: flex;
}

@media screen and (max-width: 991px) {
  .div-block-2 {
    padding-left: 80px;
    padding-right: 80px;
  }

  .div-block-12 {
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .div-block-13 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 380px;
  }

  .div-block-14 {
    flex-flow: row;
    justify-content: center;
    width: 100%;
    height: 180px;
    padding: 20px 0;
  }

  .div-block-14.a {
    margin-bottom: 10px;
  }

  .heading-2 {
    text-align: left;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    font-size: 9px;
    line-height: 14px;
  }

  .heading-4 {
    text-align: left;
    font-size: 9px;
  }

  .heading-6 {
    text-align: left;
  }

  .div-block-18 {
    width: 40%;
    height: auto;
  }

  .div-block-19 {
    text-align: left;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 3%;
  }

  .div-block-20, .div-block-21, .div-block-22 {
    justify-content: center;
    width: 55%;
    height: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .div-block-30 {
    height: 60px;
  }
}

@media screen and (max-width: 767px) {
  .div-block-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .div-block-5 {
    width: 40px;
  }

  .div-block-6 {
    justify-content: space-between;
    align-items: center;
    width: 125px;
  }

  .div-block-7, .div-block-8, .div-block-9, .div-block-10, .div-block-11 {
    height: 80%;
  }

  .heading {
    font-size: 10px;
    font-weight: 600;
  }

  .div-block-13 {
    height: 340px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .div-block-14 {
    width: 100%;
    height: 160px;
  }

  .heading-2 {
    font-size: 7px;
  }

  .div-block-19 {
    width: 100%;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }

  .div-block-23 {
    display: none;
    overflow: visible;
  }

  .div-block-30 {
    font-size: 8px;
    line-height: 12px;
  }

  .div-block-33 {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .image-12 {
    width: 60%;
  }

  .image-13 {
    width: 50%;
  }

  .image-14, .image-15, .image-16, .image-17, .image-18 {
    width: 60%;
  }
}

@media screen and (max-width: 479px) {
  .div-block {
    background-image: radial-gradient(circle farthest-side, #3d1313, #08070e);
  }

  .div-block-2 {
    flex-flow: column;
    justify-content: flex-start;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .div-block-3 {
    justify-content: flex-start;
    height: 100%;
    padding-top: 20px;
  }

  .div-block-4 {
    flex-flow: column-reverse;
    align-items: stretch;
    height: 25px;
    margin-bottom: 30px;
  }

  .div-block-5 {
    align-items: center;
    width: 40px;
    height: 25px;
  }

  .div-block-6 {
    width: 125px;
    height: 25px;
    margin-left: 55%;
    display: none;
  }

  .image {
    height: 60%;
  }

  .heading {
    height: 100%;
    font-size: 9px;
  }

  .image-2, .image-3, .image-4, .image-5 {
    height: 60%;
  }

  .div-block-12 {
    justify-content: center;
    align-items: center;
    height: 85%;
  }

  .div-block-13 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    object-fit: fill;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    overflow: visible;
  }

  .div-block-14 {
    border-radius: 10px;
    width: 100%;
    height: 160px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
  }

  .div-block-14.a {
    height: 130px;
  }

  .heading-2 {
    font-size: 9px;
    line-height: 11px;
  }

  .heading-4 {
    font-size: 7px;
  }

  .heading-6 {
    font-size: 9px;
    line-height: 12px;
  }

  .div-block-18 {
    width: 30%;
  }

  .div-block-19 {
    padding: 0 5%;
  }

  .div-block-20, .div-block-21 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .div-block-22 {
    width: 55%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .div-block-23 {
    background-color: rgba(0, 0, 0, 0);
    justify-content: center;
    width: 100%;
    height: 60px;
    margin-left: 0%;
    margin-right: 0%;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .div-block-24 {
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
    padding: 0 20px 10px;
    display: flex;
  }

  .div-block-25 {
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .div-block-26 {
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .div-block-27, .div-block-28, .div-block-29 {
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .image-7 {
    height: 100%;
  }

  .image-8, .image-9, .image-10, .image-11 {
    opacity: .2;
  }

  .div-block-30 {
    display: none;
  }

  .div-block-32 {
    width: 40px;
    height: 40px;
  }

  .div-block-33 {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    flex-flow: wrap;
    height: 100%;
    padding: 10px 20px 20px;
  }

  .image-12 {
    width: 60%;
  }

  .image-13 {
    width: 50%;
  }

  .image-14, .image-15, .image-16, .image-17, .image-18 {
    width: 60%;
  }
}


@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-SemiboldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Extralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Generalsans';
  src: url('../fonts/GeneralSans-ExtralightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}