:root {
  --white: white;
  --black: black;
  --color: #d14b42;
  --main-font-family: 'chillax light';
  --main-font-weight: 100;
  --main-font-style: normal;
  --main-font-display: swap;
  --secondary-font-family: 'Outfit-Bold';
  --secondary-font-weight: 900;
  --secondary-font-style: bold;
  --secondary-font-display: swap;
  --third-font-family: 'chillax bold';
  --third-font-weight: 900;
  --third-font-style: bold;
  --third-font-display: swap;
  --fourth-font-family: 'Outfit Extralight';
  --fourth-font-weight: 100;
  --fourth-font-style: light;
  --fourth-font-display: swap;
}


.navlink.chosen{
  border-bottom: 1px solid #d24c43;
  text-decoration: none;
  color: inherit;
}
.div-block {
  z-index: -3;
  width: 100%;
  height: 100vh;
  position: absolute;
}

.image {
  background-image: url('../../images/pexels-jonathanborba-3076511.jpg');
  background-position: 50%;
  background-size: cover;
}

.body {
  background-color: #000;
}

.div-block-2 {
  z-index: -2;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(#000, rgba(255, 255, 255, 0));
  width: 100%;
  height: 100vh;
  display: flex;
  position: absolute;
}


.div-block-3 {
  z-index: -2;
  background-image: linear-gradient(rgba(255, 255, 255, 0), #000);
  width: 100%;
  height: 100vh;
  display: flex;
  position: absolute;
}

.navbar {
  background-color: #ddd0;
}

.div-block-4 {
  color: #fff;
  width: 100%;
  height: 100vh;
  padding-left: 120px;
  padding-right: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-2 {
  color: #fff;
  background-color: rgba(221, 221, 221, 0);
  width:100%;
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  height: 60px;
}

.nav-menu {
  color: #fff;
  align-items: center;
  justify-content: space-between;
  font-family: var(--main-font-family);
  display: flex;
  width:100%;
}

.container, .navlink {
  color: #fff;
  display:flex;
  justify-content: space-between;
  width:100%;
  height: 100%;
}

.button {
  background-color: #d24c43;
  border-radius: 20px;
  font-family: var(--secondary-font-family);
  font-weight: 700;
}

.div-block-5 {
  height: 100%;
  line-height: 24px;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.heading {
  justify-content: center;
  align-items: center;
  font-family: var(--secondary-font-family);
  display: flex;
}

.paragraph {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: var(--main-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  display: flex;
}

.div-block-6 {
  border-bottom: 3px solid #d24c43;
  width: 40%;
}

.div-block-7 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  display: flex;
}

.heading-2 {
  color: #fff;
  text-align: center;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: var(--secondary-font-family);
  font-size: 21px;
  line-height: 28px;
}

.paragraph-2 {
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
  font-family: var(--main-font-family);
}

.div-block-8 {
  border: 3px solid #fffcfc;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-left: 20px;
  display: flex;
}

.div-block-8.icon1 {
  margin-left: 0;
}

.div-block-8.selectedservice {
  background-color: #d44a41;
  border-style: none;
}

.div-block-9 {
  justify-content: center;
  display: flex;
}

.image-2 {
  width: 35px;
  height: auto;
}

.image-3 {
  width: 30px;
}

.image-4 {
  width: 50px;
}

.image-4.wara {
  margin-left: 5px;
}

.image-5 {
  width: 40px;
}

.image-6 {
  width: 50px;
}

.paragraph-3 {
  color: #fff;
  width: 210px;
  margin-right: -60px;
  font-family: var(--fourth-font-family);
  font-size: 12pt;
  font-weight: 900;
  line-height: 21pt;
  display: block;
  opacity: 0;
  transition: opacity 0.4s ease-in-out 1s;
}




.div-block-10 {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 100px;
  display: flex;
}

.image-7 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: auto;
  width: 400px;
  overflow: clip;
}

.login {
  background-color: #d24c43;
  opacity: 0.3;
  border-radius: 20px;
  font-family: var(--secondary-font-family);
  font-weight: 600;
  display:flex;
  align-items: center;
  justify-content: center;
  width:80px;
  transition: width 0.2s ease-in-out, opacity 0.4s ease-in-out;
}

.login:hover {
  background-color: #d24c43;
  opacity: 1;
  border-radius: 20px;
  font-family: var(--secondary-font-family);
  font-weight: 600;
  width:90px;
}


.queroaderir {
  background-color: #d24c43;
  opacity: 0.3;
  border-radius: 20px;
  font-family: var(--secondary-font-family);
  font-weight: 600;
  display:flex;
  align-items: center;
  justify-content: center;
  width:150px;
  transition: width 0.2s ease-in-out, opacity 0.4s ease-in-out;
}

.queroaderir:hover {
  background-color: #d24c43;
  opacity: 1;
  border-radius: 20px;
  font-family: var(--secondary-font-family);
  font-weight: 600;
  width:160px;
}

.queroaderir2 {
  background-color: #d24c43;
  opacity: 0.3;
  border-radius: 20px;
  font-family: var(--secondary-font-family);
  font-weight: 600;
  display:flex;
  align-items: center;
  justify-content: center;
  width:200px;
  transition: width 0.2s ease-in-out, opacity 0.4s ease-in-out;
}

.queroaderir2:hover {
  background-color: #d24c43;
  opacity: 1;
  border-radius: 20px;
  font-family: var(--secondary-font-family);
  font-weight: 600;
  width:160px;
}


.w-nav-link.a,.w-nav-link.c,.w-nav-link.d,.w-nav-link.e{
  opacity:0.4;
  transition: 0.2s ease-in-out;
}


.w-nav-link.b{
  opacity:1;
  transition: 0.2s ease-in-out;
}
.w-nav-link.a:hover{
  opacity:1;
  transition: 0.2s ease-in-out;
}
.w-nav-link.c:hover{
  opacity:1;
  transition: 0.2s ease-in-out;
}
.w-nav-link.d:hover{
  opacity:1;
  transition: 0.2s ease-in-out;
}
.w-nav-link.e:hover{
  opacity:1;
  transition: 0.2s ease-in-out;
}


.div-block-11 {
  width: 400px;
  height: 27px;
  position: static;
}

.div-block-12 {
  z-index: -1;
  background-color: #000;
  background-image: linear-gradient(270deg, #000 3%, #fff0 71%), url('../../images/imagea5.png');
  background-position: 0 0, 0 0;
  background-size: auto, cover;
  border: 1px solid #000;
  flex-flow: row;
  order: 0;
  width: 400px;
  height: 300px;
  display: flex;
}

.div-block-12._1 {
  background-image: linear-gradient(90deg, #000 3%, #fff0), url('../../images/imagea2.png');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  border-radius: 20px;
}

.div-block-12._2 {
  background-image: linear-gradient(270deg, #000 3%, #fff0), url('../../images/imagea12.png');
  border-radius: 20px;
}

.div-block-12._3 {
  background-image: linear-gradient(90deg, #000 3%, #fff0), url('../../images/imgae2.png');
  border-radius: 20px;
}

.div-block-12._4 {
  background-image: linear-gradient(270deg, #000 3%, #fff0 71%), url('../../images/imagea10.png');
  border-radius: 20px;
}

.div-block-12._5 {
  background-image: linear-gradient(90deg, #000 3%, #fff0), url('../../images/imagea4.png');
  border-radius: 20px;
}

.div-block-13 {
  opacity: 1;
  z-index: -2;
  background-color: #881c1c;
}

.div-block-14 {
  align-items: center;
  display: flex;
  background-color:black;
  transition: background-color 0.5s ease-in-out 200ms;
}

.div-block-14._1 {
  margin-right: 100px;
}

.div-block-14._2 {
  flex-flow: row-reverse;
  order: 0;
  margin-left: 100px;
}

.div-block-14._3 {
  margin-right: 100px;
}

.div-block-14._4 {
  flex-flow: row-reverse;
  margin-left: 100px;
}

.div-block-14._5 {
  margin-right: 100px;
}

.div-block-15 {
  background-color: #fff;
  border-radius: 50px;
  width: 8px;
  height: 8px;
}

.div-block-15.selected {
  background-color: #d14b42;
}

.div-block-16 {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin-top: 60px;
  display: flex;
}

.div-block-17 {
  width: 100%;
  height: 500px;
  margin-bottom: 40px;
}

.heading-3 {
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 40px;
  font-family: var(--secondary-font-family);
  font-size: 21px;
  display: flex;
}

.div-block-18 {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  flex-flow: row;
  justify-content: center;
  height: 250px;
  display: flex;
}

.paragraph-4, .paragraph-5 {
  color: #fff;
  font-family: var(--secondary-font-family);
  line-height: 28px;
}

.div-block-19 {
  height: auto;
}

.paragraph-6 {
  color: var(--white);
  font-family: var(--secondary-font-family);
  line-height: 28px;
}

.paragraph-7 {
  color: #fff;
  font-family: var(--secondary-font-family);
  line-height: 28px;
}

.div-block-20, .div-block-21 {
  height: 300px;
}

.div-block-22 {
  background-color: #d14b42;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  display: flex;
}

.div-block-23 {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  margin-bottom: 100px;
  display: flex;
}

.heading-4 {
  font-family: var(--secondary-font-family);
}

.heading-5 {
  color: #fff;
  width: 300px;
  font-family: var(--secondary-font-family);
  font-size: 21px;
  line-height: 28px;
}

.paragraph-8 {
  color: var(--white);
  width: 350px;
  font-family: var(--main-font-family);
  font-size: 12px;
  line-height: 16px;
}

.textcolor {
  color: #d14b42;
}

.image-8, .image-9 {
  width: 120px;
}

.div-block-24 {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  flex-flow: column;
  display: flex;
}

.image-10 {
  width: 80px;
  margin-left: 20px;
}

.div-block-25 {
  display: flex;
}

.blogimages {
  background-image: radial-gradient(circle, #000, #fff0), url('../../images/pexels-veganliftz-2377164.jpg');
  background-position: 0 0, 0 0;
  background-size: auto, auto;
  width: 200px;
  height: 120px;
}

.div-block-26, .div-block-27 {
  width: 200px;
  height: 120px;
}

.div-block-28 {
  background-image: radial-gradient(circle, #fff0, #000000ba), url('../../images/pexels-veganliftz-2377164.jpg');
  background-position: 0 0, 50%;
  background-size: auto, 100%;
  width: 250px;
  height: 150px;
}

.div-block-28.blogimage2 {
  background-image: radial-gradient(circle, #fff0, #000000ba), url('../../images/Best-shoulder-workout-for-muscle-mass_88ddab86-804f-41c3-9b20-2d6daace5b61_480x480.webp');
  width: 250px;
  height: 150px;
}

.div-block-28.blogimage3 {
  background-image: radial-gradient(circle, #fff0, #000000ba), url('../../images/pexels-willpicturethis-1954524.jpg');
  width: 250px;
  height: 150px;
}

.div-block-29 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}

.div-block-30 {
  height: auto;
}

.heading-6 {
  font-family:var(--secondary-font-family);
  font-size: 12px;
}

.heading-7 {
  color: #fff;
  justify-content: flex-start;
  align-items: flex-start;
  width: 250px;
  height: 40px;
  margin-top: 0;
  padding-top: 10px;
  font-family: var(--secondary-font-family);
  font-size: 14px;
  line-height: 16px;
  display: flex;
}

.paragraph-9 {
  color: #fff;
  width: 250px;
  font-family: var(--main-font-family);
  font-size: 12px;
  line-height: 14px;
}

.heading-8 {
  color: #d14b42;
  text-align: right;
  font-family: var(--secondary-font-family);
  font-size: 12px;
  line-height: 24px;
}

.heading-9 {
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  font-family: var(--secondary-font-family);
  font-size: 14px;
  line-height: 20px;
  display: flex;
}

.heading-10 {
  color: #d14b42;
  text-align: center;
  font-family: var(--secondary-font-family);
  font-size: 14px;
}

.div-block-31 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  display: flex;
}

.heading-11 {
  color: #000;
  font-family:var(--secondary-font-family);
  font-size: 14px;
}

.section {
  background-color: #d14b42;
  flex-flow: column;
  justify-content: space-between;
  height: 80vh;
  padding-top: 60px;
  display: flex;
}

.heading-12 {
  color: #fff;
  font-family: var(--third-font-family);
  font-size: 21px;
}

.paragraph-10 {
  color: #fff;
  margin-bottom: 0;
  font-family: var(--main-font-family);
  font-size: 14px;
}

.paragraph-10.link {
  margin-bottom: 10px;
  text-decoration: underline;
}

.div-block-32 {
  justify-content: space-around;
  display: flex;
}

.div-block-33 {
  flex-flow: column;
  width: 40%;
  display: flex;
}

.div-block-34 {
  border-left: 1px solid #fff;
  padding-left: 20px;
}

.div-block-35 {
  justify-content: flex-start;
  display: flex;
}

.text-block {
  color: #fff;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  font-family: var(--main-font-family);
  display: flex;
}

.div-block-36 {
  padding-right: 20px;
}

.div-block-37 {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.button-2 {
  text-align: center;
  background-color: #000;
  border-radius: 25px;
  margin-bottom: 20px;
  font-family: var(--secondary-font-family);
  font-weight: 600;
}

.button-3 {
  text-align: center;
  background-color: #000;
  border-radius: 25px;
  font-family: var(--secondary-font-family);
  font-weight: 600;
}

.heading-13 {
  color: #fff;
  font-family: var(--secondary-font-family);
  font-size: 12px;
}

.brand {
  background-image: url('../../images/solincab.png');
  background-position: 50%;
  background-repeat: repeat-x;
  background-size: contain;
}

.image-11 {
  width: 100px;
}

.heading-14 {
  color: #fff;
  margin-right: -60px;
  font-family:var(--secondary-font-family);
  font-size: 14pt;
  line-height: 21px;
  margin-top:0px;
  transform: translateY(125%);
  transition: transform 0.4s ease-in-out 1s;
}

.text-block-2 {
  color: #d14b42;
  font-family:var(--secondary-font-family);
  font-size: 11px;
}

.text-block-2 {
  color: #d14b42;
  opacity: 0.1;
  text-align: left;
  font-family: var(--secondary-font-family);
  font-size: 12px;
  line-height: 24px;
  margin-left:0px;
  transition: opacity 0.2s ease-in-out, margin-left 0.2s ease-in-out;
  cursor:pointer;
}

.text-block-2:hover {
  color: #d14b42;
  opacity: 1;
  text-align: left;
  font-family: var(--secondary-font-family);
  font-size: 12px;
  line-height: 24px;
  margin-left:5px;
}


.paragraph-11 {
  color: #fff;
  text-align: center;
  width: 45%;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-family: var(--main-font-family);
}

.div-block-42 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
}

.div-titulo{
  border-bottom: 2px solid #d14b42;
  width: 200px;
  height: 30px;
  margin-bottom:10px;
  overflow: hidden;
}


.button-4 {
  background-color: #d14b42;
  border-radius: 20px;
  margin-top: 80px;
  font-family: var(--secondary-font-family);
}

.show{
opacity:1;
transform:translateY(0%);
}


.show2{
  background-color: transparent;
}


.show3{
  width: 150px;
}


/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d14b42;
  border-radius: 20px;
  cursor:pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  width: 10px;
}

@media screen and (max-width: 991px) {


  .div-block-43,  .div-block-45, .div-block-47 {
    flex-flow: column;
    justify-content: flex-start;
    margin-right: 0;
    width:200px;
    display: flex;
  }
  .div-block-44, .div-block-46 {
    margin-left: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    width:200px;
  }


  .w-nav-button{
    margin: 18px;
    padding:0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .brandA {
    display: none;
  }
  .body {
    height: 100vh;
  }

  .div-block-4 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .navbar-2 {
    width: 100%;
  }

  .div-block-5 {
    text-align: center;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
  }

  .div-block-7 {
    height: 100vh;
  }

  .heading-2 {
    font-size: 26px;
  }

  .paragraph-2 {
    font-size: 18px;
  }

  .paragraph-3 {
    font-size: 12pt;
    line-height: 16pt;
  }

  .paragraph-3._2 {
    margin-left: 0px;
    margin-right: 0;
    width:100%;
  }

  .div-block-10 {
    height: auto;
    padding-left: 80px;
    padding-right: 80px;
  }

  .div-block-14._1 {
    margin-right: 40px;
  }

  .div-block-14._2 {
    margin-left: 40px;
  }

  .div-block-14._3 {
    margin-right: 40px;
  }

  .div-block-17 {
    height: 100vh;
    margin-bottom: 0;
  }

  .heading-3 {
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 26px;
  }

  .paragraph-4 {
    font-size: 15px;
  }

  .div-block-22 {
    height: 100vh;
    padding-left: 40px;
    padding-right: 40px;
    display: block;
  }

  .heading-5 {
    font-size: 18px;
    line-height: 18px;
  }

  .paragraph-8 {
    width: 100%;
    font-size: 15px;
    line-height: 18px;
  }

  .div-block-28, .div-block-28.blogimage2 {
    width: 100%;
    height: 125px;
  }

  .div-block-28.blogimage3 {
    box-sizing: border-box;
    aspect-ratio: 2 / 3;
    object-fit: fill;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 125px;
    display: flex;
    overflow: auto;
  }

  .div-block-30 {
    align-self: flex-start;
    width: 25%;
    height: 100%;
  }

  .heading-7 {
    width: 100%;
    height: 50px;
    font-size: 18px;
    line-height: 19px;
  }

  .paragraph-9 {
    width: 100%;
    font-size: 15px;
    line-height: 16px;
  }

  .heading-9 {
    height: 100px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .heading-10 {
    margin-bottom: 0;
    font-size: 18px;
  }

  .section {
    padding-left: 40px;
    padding-right: 40px;
  }

  .heading-12 {
    font-size: 18px;
  }

  .paragraph-10 {
    font-size: 15px;
  }

  .div-block-32 {
    justify-content: space-between;
  }

  .div-block-34 {
    border-left-style: none;
    border-left-width: 0;
    padding-left: 0;
  }

  .div-block-35 {
    flex-flow: column;
  }

  .text-block, .heading-13 {
    font-size: 15px;
  }

  .div-block-38 {
    align-self: flex-start;
    width: 25%;
    height: 100%;
  }

  .div-block-39 {
    align-self: flex-start;
    width: 25%;
  }

  .div-block-40 {
    height: 100vh;
  }

  .heading-14._2 {
    margin-left: 0px;
    margin-right: 0;
  }

  .heading-14._4 {
    display:flex;
    justify-content:right;
    margin-left: 0px;
    font-size: 18pt;
    width:50px;
  }

  .text-block-2._2 {
    margin-left: 0px;
  }


  .button.w-button{
    border-radius:25px;
    font-size:11pt;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .paragraph{
    font-size:12pt;
    width:80%;
  }

  .container{
    width: 100%;
    display: flex;
    justify-content: right;
  }
}

@media screen and (max-width: 767px) {
  
  .paragraph-3 {
    color: #fff;
    width: 100%;
    margin-right: 0px;
    font-family: var(--fourth-font-family);
    font-size: 14px;
    font-weight: 900;
    line-height: 21px;
    display: block;
  }


  .heading-14 {
    width: 100%;
    height: 21px;
    margin-right: 0;
    margin-top: 0;
    font-size: 14pt;
  }


  .div-titulo{
    border-bottom: 2px solid #d14b42;
    width: 100%;
    height: 30px;
    margin-bottom:10px;
    overflow: hidden;
  }

  .div-block-43,  .div-block-45, .div-block-47 {
    flex-flow: column;
    justify-content: flex-start;
    margin-right: -30%;
    width:300px;
    display: flex;
  }
  .div-block-44, .div-block-46 {
    margin-left: -30%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    width:300px;
  }


  .div-block-2 {
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
  }
  .div-block-4 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: right;
  }

  .div-block-10 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .div-block-14 {
    align-items:center;
    justify-content: space-between;
    height:100%;
    width: 100%;
  }

  .div-block-14._1 {
    margin-right: 0;
  }

  .div-block-14._2 {
    margin-left: 0;
  }

  .div-block-14._3 {
    margin-right: 0;
  }

  .div-block-14._4 {
    margin-left: 0;
  }

  .div-block-17 {
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
  }

  .heading-3 {
    margin-bottom: 0;
  }

  .div-block-18 {
    height: auto;
    font-size: 12px;
  }

  .paragraph-4, .paragraph-5, .paragraph-6, .paragraph-7 {
    height: 100%;
    margin-bottom: 0;
  }

  .div-block-20, .div-block-21 {
    height: 100%;
  }

  .div-block-23 {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    justify-content: center;
    align-items: flex-start;
  }

  .heading-5 {
    width: 100%;
    font-size: 16px;
  }

  .paragraph-8 {
    font-size: 14px;
  }

  .div-block-28.blogimage3 {
    height: 190px;
  }

  .div-block-30 {
    width: 50%;
  }

  .heading-8 {
    margin-bottom: 0;
  }

  .heading-9 {
    opacity: .1;
  }

  .heading-10 {
    width: 100%;
    margin-top: 0;
    padding-top: 0;
  }

  .div-block-31 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .section {
    height: 90vh;
  }

  .heading-12 {
    margin-top: 0;
    line-height: 24px;
  }

  .paragraph-10 {
    font-size: 14px;
  }

  .div-block-33 {
    width: 35%;
  }

  .text-block {
    margin-bottom: 40px;
  }

  .div-block-37 {
    justify-content: flex-start;
    width: 125px;
  }

  .button-2 {
    margin-bottom: 10px;
    font-size: 11px;
  }

  .button-3 {
    font-size: 11px;
  }

  .heading-13 {
    align-self: center;
    font-size: 14px;
    line-height: 21px;
  }

  .image-11 {
    width: 50px;
    margin-top: 40px;
  }

  .div-block-38 {
    display: none;
    overflow: visible;
  }

  .div-block-39 {
    display: none;
  }

  .image-12 {
    width: 320px;
    height: 250px;
  }

  .div-block-41 {
    align-self: flex-start;
    line-height: 24px;
  }

  .paragraph-11 {
    width: 80%;
  }
  .paragraph {
    width: 100%;
    font-size: 12pt;
    line-height: 16pt;
  }
}

@media screen and (max-width: 479px) {
  .div-titulo{
    border-bottom: 2px solid #d14b42;
    width: 100%;
    height: 40px;
    margin-bottom:5px;
    overflow: hidden;
  }

  
  .div-block-14 {
    align-items:center;
    justify-content: space-between;
    height:100%;
    width: 100%;
  }
  .div-block-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .div-block-5 {
    justify-content: center;
    align-items: center;
  }

  .heading {
    font-size: 24px;
    line-height: 28px;
  }

  .paragraph {
    width: 100%;
    font-size: 10pt;
    line-height: 16pt;
  }

  .div-block-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .heading-2 {
    font-size: 24px;
  }

  .paragraph-2 {
    font-size: 16px;
  }

  .div-block-8 {
    width: 60px;
    height: 60px;
    margin-left: 0;
  }

  .div-block-8.icon1, .div-block-8.selectedservice {
    width: 60px;
    height: 60px;
  }

  .div-block-9 {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: wrap;
    height: 140px;
  }

  .image-2 {
    width: 30px;
  }

  .image-3 {
    width: 25px;
  }

  .image-4.wara {
    width: 40px;
  }

  .image-5 {
    width: 30px;
  }

  .image-6 {
    width: 40px;
  }

  .paragraph-3 {
    width: 100%;
    margin-bottom: 0;
    margin-right: 0;
    font-size: 10pt;
    line-height: 16pt;
    margin-top:10px;
  }

  .paragraph-3._2 {
    margin-left: 0;
    font-size: 10pt;
    line-height: 16pt;
    text-align: right;
    margin-right:0px;
    margin-top:10px;
  }

  .div-block-10 {
    padding-left: 20px;
    padding-right: 20px;
    grid-column-gap: 50px;
    grid-row-gap: 150px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 100px;
    display: flex;
  }


  .div-block-12 {
    width: 540px;
    height: 200px;
  }

  .div-block-12._1 {
    background-image: linear-gradient(90deg, #000 10%, #fff0), url('../../images/imagea2.png');
    background-size: auto, cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
  }

  .div-block-12._2 {
    background-image: linear-gradient(270deg, #000 10%, #fff0), url('../../images/imagea12.png');
    background-size: auto, cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
  }

  .div-block-12._3 {
    background-image: linear-gradient(90deg, #000 10%, #fff0), url('../../images/imgae2.png');
    width: 100%;
    background-size: auto, cover;
    background-repeat: no-repeat;
    height: 300px;
  }

  .div-block-12._4 {
    background-image: linear-gradient(270deg, #000 10%, #fff0), url('../../images/imagea10.png');
    background-size: auto, cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
  }

  .div-block-12._5 {
    background-image: linear-gradient(90deg, #000 10%, #fff0), url('../../images/imagea4.png');
    width: 100%;
    height: 300px;
    background-size: auto, cover;
    background-repeat: no-repeat;
    border-radius: 20px;
  }

  .div-block-14._1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 250px;
  }

  .div-block-14._2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 250px;
  }
  .div-block-14._3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 250px;
  }

  .div-block-14._4 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 250px;
  }

  .div-block-14._5 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 250px;
  }
  .div-block-15, .div-block-15.selected {
    width: 5px;
    height: 5px;
  }

  .div-block-16 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 146px;
  }

  .heading-3 {
    height: 80px;
    font-size: 24px;
  }

  .div-block-18 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
  }

  .paragraph-4 {
    text-align: center;
    font-size: 12px;
    line-height: 21px;
  }

  .paragraph-5, .paragraph-6, .paragraph-7 {
    line-height: 21px;
    display: none;
  }

  .div-block-22 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .div-block-23 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .heading-5 {
    margin-top: 0;
    font-size: 14px;
    line-height: 16px;
  }

  .paragraph-8 {
    font-size: 12px;
    line-height: 14px;
  }

  .image-8, .image-9 {
    width: 80px;
  }

  .div-block-24 {
    flex-flow: row;
  }

  .image-10 {
    width: 60px;
  }

  .div-block-28.blogimage3 {
    height: 180px;
  }

  .div-block-29 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .div-block-30 {
    width: 100%;
  }

  .heading-7 {
    margin-bottom: 0;
  }

  .paragraph-9 {
    font-size: 12px;
    line-height: 14px;
  }

  .heading-9 {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 16px;
  }

  .heading-10 {
    font-size: 14px;
  }

  .div-block-31 {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    height: 160px;
  }

  .heading-11 {
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 0;
    line-height: 21px;
    display: flex;
  }

  .section {
    flex-flow: column;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .heading-12 {
    margin-bottom: 0;
    font-size: 16px;
  }

  .paragraph-10 {
    font-size: 12px;
    line-height: 18px;
  }

  .div-block-32 {
    flex-flow: column;
    height: 85%;
  }

  .div-block-34 {
    border-left-style: solid;
    border-left-width: 1px;
    padding-left: 10px;
  }

  .div-block-35 {
    flex-flow: row;
  }

  .text-block {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 11px;
  }

  .div-block-37 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-flow: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
  }

  .button-2 {
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 25px;
    margin-bottom: 0;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 8px;
    line-height: 14px;
    display: flex;
  }

  .button-3 {
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 25px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 8px;
    line-height: 14px;
    display: flex;
  }

  .heading-13 {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin-top: 0;
    font-size: 11px;
    line-height: 14px;
    display: flex;
  }

  .image-12 {
    width: 180px;
    height: 200px;
  }

  .div-block-41 {
    margin-bottom: 20px;
  }

  .heading-14 {
    transform: translateY(80%);
    transition: transform 0.4s ease-in-out 1s;
  }

  .heading-14 {
    color: #fff;
    margin-right: -60px;
    font-family:var(--secondary-font-family);
    font-size: 14pt;
    line-height: 21px;
    margin-top:0px;
  }

  .heading-14._2 {
    display:flex;
    justify-content:right;
    margin-left: 0;
    width:100%;
    margin-bottom: 0;
  }

  .heading-14._3 {
    width: 125px;
    height: 24pt;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    transform: translateY(60%);
    transition: transform 0.4s ease-in-out 1s;
  }


  .heading-14._4 {
    display:flex;
    justify-content:right;
    margin-left: 0;
    width:100%;
    margin-bottom: 0;
  }


  .heading-14._5 {
    width: 120px;
    height: 24pt;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
  }


  .text-block-2 {
    padding-top: 20px;
    font-size: 14pt;
    width: 100%;
    text-align: left;
  }

  .text-block-2._2 {
    display:flex;
    justify-content: right;
    margin-left: 0;
    width: 100%;
  }

  .paragraph-11 {
    width: 100%;
    font-size:10pt;
    line-height: 16pt;
  }

  .div-block-43 {
    flex-flow: column;
    justify-content: center;
    margin-right: -30%;
    display: flex;
    width:100%;
    height: 100%;
  }

  .div-block-44 {
    margin-left: -30%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    width:100%;
    height: 100%;
  }

  .div-block-45 {
    margin-right: -30%;
    width:100%;
    height: 100%;
  }

  .div-block-46 {
    margin-left: -30%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width:100%;
    height: 100%;
  }

  .div-block-47 {
    margin-right: -30%;
    width:100%;
    height: 100%;
  }

  
.div-block-42 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 100px;
  display: flex;
}
}


@media screen and (max-width: 479px) {
  .div-block-37 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
  }

.div-block-35 {
  flex-flow: column;
}
.div-block-34 {
  border:0px;
  padding-left:0px;
}

.heading-13 {
  text-align: left;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin-top: 0;
  font-size: 11px;
  line-height: 14px;
  display: flex;
}

.div-titulo{
  border-bottom: 2px solid #d14b42;
  width: 100%;
  height: 30px;
  margin-bottom:0px;
  overflow: hidden;
}
.div-block-4 {
  padding-left: 10px;
  padding-right: 10px;
}

.section{
  padding-left: 10px;
  padding-right: 10px;
}
}




@media screen and (max-width: 300px) {
  
  .div-block-10 {
    padding-left: 10px;
    padding-right: 10px;
    grid-column-gap: 50px;
    grid-row-gap: 150px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 100px;
    display: flex;
  }

  
  .div-block-43 {
    flex-flow: column;
    justify-content: center;
    margin-right: -50%;
    display: flex;
    width:100%;
    height: 100%;
  }

  .div-block-44 {
    margin-left: -50%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    width:100%;
    height: 100%;
  }

  .div-block-45 {
    margin-right: -50%;
    width:100%;
    height: 100%;
  }

  .div-block-46 {
    margin-left: -50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width:100%;
    height: 100%;
  }

  .div-block-47 {
    margin-right: -50%;
    width:100%;
    height: 100%;
  }

  .queroaderir {
    background-color: #d24c43;
    opacity: 1;
    border-radius: 20px;
    font-family: var(--secondary-font-family);
    font-weight: 600;
    display:flex;
    align-items: center;
    justify-content: center;
    width:120px;
    transition: width 0.2s ease-in-out, opacity 0.4s ease-in-out;
    font-size: 8pt;
  }
  .queroaderir2 {
    background-color: #d24c43;
    opacity: 1;
    border-radius: 20px;
    font-family: var(--secondary-font-family);
    font-weight: 600;
    display:flex;
    align-items: center;
    justify-content: center;
    width:120px;
    transition: width 0.2s ease-in-out, opacity 0.4s ease-in-out;
    font-size: 8pt;
  }
  .queroaderir:hover {
    width:120px;
  }
  .queroaderir2:hover {
    width:120px;
  }
}

@media only screen and (max-width: 375px) and (max-height: 667px) {
  .paragraph {
  width: 100%;
  font-size: 14pt;
  line-height: 21pt;
  margin-bottom:20px;
  }
  .heading {
  font-size: 18pt;
  line-height: 24pt;
    }
  .queroaderir{
  font-size: 12pt;
  opacity: 0.3;
  border-radius: 25px;
  height: 50px;
  width:180px;
  }
  .queroaderir:hover{
  background-color: #d24c43;
  opacity: 1;
  border-radius: 25px;
  font-family: var(--secondary-font-family);
  font-weight: 600;
  width:200px;
  }

  .div-block-43, .div-block-45, .div-block-47{
    margin-right:-100%;
  }
  .div-block-44, .div-block-46{
    margin-left:-100%;
  }

  
.div-block-12 {
  z-index: -1;
  background-color: #000;
  background-image: linear-gradient(270deg, #000 3%, #fff0 71%), url('../../images/imagea5.png');
  background-position: 0 0, 0 0;
  background-size: auto, cover;
  border: 1px solid #000;
  flex-flow: row;
  order: 0;
  width: 400px;
  height: 300px;
  display: flex;
}

.div-block-12._1 {
  background-image: 
    linear-gradient(90deg, #000 10%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.3) 95%, #fff0 100%), 
    url('../../images/imagea2.png');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  border-radius: 20px;
}

.div-block-12._2 {
  background-image: linear-gradient(270deg, #000 10%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.3) 95%, #fff0 100%),  url('../../images/imagea12.png');
  border-radius: 20px;
}

.div-block-12._3 {
  background-image: linear-gradient(90deg, #000 10%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.3) 95%, #fff0 100%),  url('../../images/imgae2.png');
  border-radius: 20px;
}

.div-block-12._4 {
  background-image: linear-gradient(270deg, #000 10%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.3) 95%, #fff0 100%), url('../../images/imagea10.png');
  border-radius: 20px;
}

.div-block-12._5 {
  background-image: linear-gradient(90deg, #000 10%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.3) 95%, #fff0 100%),  url('../../images/imagea4.png');
  border-radius: 20px;
}

.text-block-2 {
  padding-top: 20px;
  font-size: 14pt;
  width: 100%;
  text-align: left;
  opacity:1;
}

.text-block-2._2 {
  display:flex;
  justify-content: right;
  margin-left: 0;
  width: 100%;
  opacity:1;
}

.paragraph-3 {
  width: 100%;
  margin-bottom: 0;
  margin-right: 0;
  font-size: 14pt;
  line-height: 16pt;
  margin-top:10px;
}

.paragraph-3._2 {
  margin-left: 0;
  font-size: 14pt;
  line-height: 16pt;
  text-align: right;
  margin-right:0px;
  margin-top:10px;
}
.paragraph-11{
  font-size: 14pt;
  line-height: 21pt;
}

.heading-12 {
  margin-bottom: 0;
  font-size: 16pt;
}

.paragraph-10 {
  font-size: 12pt;
  line-height: 18pt;
}


.button-2 {
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  margin-bottom: 0;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12pt;
  line-height: 18pt;
  display: flex;
}

.button-3 {
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12pt;
  line-height: 18pt;
  display: flex;
}

.heading-13 {
  text-align: left;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin-top: 0;
  font-size: 14pt;
  line-height: 18pt;
  display: flex;
}


.text-block {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 12pt;
}

.show{
opacity:1;
transform:translateY(0%);
}

.show2{
background-color: transparent;
}
.show3{
width: 150px;
}
}

@media only screen and (max-width: 414px) and (max-height: 896px) {
  .paragraph {
  width: 100%;
  font-size: 14pt;
  line-height: 21pt;
  margin-bottom:20px;
  }
  .heading {
  font-size: 18pt;
  line-height: 24pt;
    }
  .queroaderir{
  font-size: 12pt;
  opacity: 0.3;
  border-radius: 25px;
  height: 50px;
  width:180px;
  }
  .queroaderir:hover{
  background-color: #d24c43;
  opacity: 1;
  border-radius: 25px;
  font-family: var(--secondary-font-family);
  font-weight: 600;
  width:200px;
  }

  .div-block-43, .div-block-45, .div-block-47{
    margin-right:-100%;
  }
  .div-block-44, .div-block-46{
    margin-left:-100%;
  }

  
.div-block-12 {
  z-index: -1;
  background-color: #000;
  background-image: linear-gradient(270deg, #000 3%, #fff0 71%), url('../../images/imagea5.png');
  background-position: 0 0, 0 0;
  background-size: auto, cover;
  border: 1px solid #000;
  flex-flow: row;
  order: 0;
  width: 400px;
  height: 300px;
  display: flex;
}

.div-block-12._1 {
  background-image: 
    linear-gradient(90deg, #000 10%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.3) 95%, #fff0 100%), 
    url('../../images/imagea2.png');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  border-radius: 20px;
}

.div-block-12._2 {
  background-image: linear-gradient(270deg, #000 10%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.3) 95%, #fff0 100%),  url('../../images/imagea12.png');
  border-radius: 20px;
}

.div-block-12._3 {
  background-image: linear-gradient(90deg, #000 10%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.3) 95%, #fff0 100%),  url('../../images/imgae2.png');
  border-radius: 20px;
}

.div-block-12._4 {
  background-image: linear-gradient(270deg, #000 10%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.3) 95%, #fff0 100%), url('../../images/imagea10.png');
  border-radius: 20px;
}

.div-block-12._5 {
  background-image: linear-gradient(90deg, #000 10%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.3) 95%, #fff0 100%),  url('../../images/imagea4.png');
  border-radius: 20px;
}

.text-block-2 {
  padding-top: 20px;
  font-size: 14pt;
  width: 100%;
  text-align: left;
  opacity:1;
}

.text-block-2._2 {
  display:flex;
  justify-content: right;
  margin-left: 0;
  width: 100%;
  opacity:1;
}

.paragraph-3 {
  width: 100%;
  margin-bottom: 0;
  margin-right: 0;
  font-size: 14pt;
  line-height: 16pt;
  margin-top:10px;
}

.paragraph-3._2 {
  margin-left: 0;
  font-size: 14pt;
  line-height: 16pt;
  text-align: right;
  margin-right:0px;
  margin-top:10px;
}
.paragraph-11{
  font-size: 14pt;
  line-height: 21pt;
}

.heading-12 {
  margin-bottom: 0;
  font-size: 16pt;
}

.paragraph-10 {
  font-size: 12pt;
  line-height: 18pt;
}


.button-2 {
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  margin-bottom: 0;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12pt;
  line-height: 18pt;
  display: flex;
}

.button-3 {
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12pt;
  line-height: 18pt;
  display: flex;
}

.heading-13 {
  text-align: left;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin-top: 0;
  font-size: 14pt;
  line-height: 18pt;
  display: flex;
}


.text-block {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 12pt;
}

.show{
opacity:1;
transform:translateY(0%);
}

.show2{
background-color: transparent;
}
.show3{
width: 150px;
}
}
@media only screen and (max-width: 390px) and (max-height: 844px) {
  .paragraph {
  width: 100%;
  font-size: 14pt;
  line-height: 21pt;
  margin-bottom:20px;
  }
  .heading {
  font-size: 18pt;
  line-height: 24pt;
    }
  .queroaderir{
  font-size: 12pt;
  opacity: 0.3;
  border-radius: 25px;
  height: 50px;
  width:180px;
  }
  .queroaderir:hover{
  background-color: #d24c43;
  opacity: 1;
  border-radius: 25px;
  font-family: var(--secondary-font-family);
  font-weight: 600;
  width:200px;
  }

  .div-block-43, .div-block-45, .div-block-47{
    margin-right:-100%;
  }
  .div-block-44, .div-block-46{
    margin-left:-100%;
  }

  
.div-block-12 {
  z-index: -1;
  background-color: #000;
  background-image: linear-gradient(270deg, #000 3%, #fff0 71%), url('../../images/imagea5.png');
  background-position: 0 0, 0 0;
  background-size: auto, cover;
  border: 1px solid #000;
  flex-flow: row;
  order: 0;
  width: 400px;
  height: 300px;
  display: flex;
}

.div-block-12._1 {
  background-image: 
    linear-gradient(90deg, #000 10%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.3) 95%, #fff0 100%), 
    url('../../images/imagea2.png');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  border-radius: 20px;
}

.div-block-12._2 {
  background-image: linear-gradient(270deg, #000 10%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.3) 95%, #fff0 100%),  url('../../images/imagea12.png');
  border-radius: 20px;
}

.div-block-12._3 {
  background-image: linear-gradient(90deg, #000 10%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.3) 95%, #fff0 100%),  url('../../images/imgae2.png');
  border-radius: 20px;
}

.div-block-12._4 {
  background-image: linear-gradient(270deg, #000 10%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.3) 95%, #fff0 100%), url('../../images/imagea10.png');
  border-radius: 20px;
}

.div-block-12._5 {
  background-image: linear-gradient(90deg, #000 10%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.3) 95%, #fff0 100%),  url('../../images/imagea4.png');
  border-radius: 20px;
}

.text-block-2 {
  padding-top: 20px;
  font-size: 14pt;
  width: 100%;
  text-align: left;
  opacity:1;
}

.text-block-2._2 {
  display:flex;
  justify-content: right;
  margin-left: 0;
  width: 100%;
  opacity:1;
}

.paragraph-3 {
  width: 100%;
  margin-bottom: 0;
  margin-right: 0;
  font-size: 14pt;
  line-height: 18pt;
  margin-top:10px;
}

.paragraph-3._2 {
  margin-left: 0;
  font-size: 14pt;
  line-height: 18pt;
  text-align: right;
  margin-right:0px;
  margin-top:10px;
}

.paragraph-11{
  font-size: 14pt;
  line-height: 21pt;
}

.heading-12 {
  margin-bottom: 10px;
  font-size: 16pt;
}

.paragraph-10 {
  font-size: 12pt;
  line-height: 18pt;
}


.button-2 {
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  margin-bottom: 0;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12pt;
  line-height: 18pt;
  display: flex;
}

.button-3 {
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12pt;
  line-height: 18pt;
  display: flex;
}

.heading-13 {
  text-align: left;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin-top: 0;
  font-size: 14pt;
  line-height: 18pt;
  display: flex;
}


.text-block {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 12pt;
}

.show{
opacity:1;
transform:translateY(0%);
}

.show2{
background-color: transparent;
}
.show3{
width: 150px;
}
}

@media only screen and (max-width: 430px) and (max-height: 932px) {
  .paragraph {
  width: 100%;
  font-size: 14pt;
  line-height: 21pt;
  margin-bottom:20px;
  }
  .heading {
  font-size: 18pt;
  line-height: 24pt;
    }
  .queroaderir{
  font-size: 12pt;
  opacity: 0.3;
  border-radius: 25px;
  height: 50px;
  width:180px;
  }
  .queroaderir:hover{
  background-color: #d24c43;
  opacity: 1;
  border-radius: 25px;
  font-family: var(--secondary-font-family);
  font-weight: 600;
  width:200px;
  }

  .div-block-43, .div-block-45, .div-block-47{
    margin-right:-100%;
  }
  .div-block-44, .div-block-46{
    margin-left:-100%;
  }

  
.div-block-12 {
  z-index: -1;
  background-color: #000;
  background-image: linear-gradient(270deg, #000 3%, #fff0 71%), url('../../images/imagea5.png');
  background-position: 0 0, 0 0;
  background-size: auto, cover;
  border: 1px solid #000;
  flex-flow: row;
  order: 0;
  width: 400px;
  height: 300px;
  display: flex;
}

.div-block-12._1 {
  background-image: 
    linear-gradient(90deg, #000 10%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.3) 95%, #fff0 100%), 
    url('../../images/imagea2.png');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  border-radius: 20px;
}

.div-block-12._2 {
  background-image: linear-gradient(270deg, #000 10%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.3) 95%, #fff0 100%),  url('../../images/imagea12.png');
  border-radius: 20px;
}

.div-block-12._3 {
  background-image: linear-gradient(90deg, #000 10%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.3) 95%, #fff0 100%),  url('../../images/imgae2.png');
  border-radius: 20px;
}

.div-block-12._4 {
  background-image: linear-gradient(270deg, #000 10%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.3) 95%, #fff0 100%), url('../../images/imagea10.png');
  border-radius: 20px;
}

.div-block-12._5 {
  background-image: linear-gradient(90deg, #000 10%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.3) 95%, #fff0 100%),  url('../../images/imagea4.png');
  border-radius: 20px;
}

.text-block-2 {
  padding-top: 20px;
  font-size: 14pt;
  width: 100%;
  text-align: left;
  opacity:1;
}

.text-block-2._2 {
  display:flex;
  justify-content: right;
  margin-left: 0;
  width: 100%;
  opacity:1;
}

.paragraph-3 {
  width: 100%;
  margin-bottom: 0;
  margin-right: 0;
  font-size: 14pt;
  line-height: 18pt;
  margin-top:10px;
}

.paragraph-3._2 {
  margin-left: 0;
  font-size: 14pt;
  line-height: 18pt;
  text-align: right;
  margin-right:0px;
  margin-top:10px;
}

.paragraph-11{
  font-size: 14pt;
  line-height: 21pt;
}

.heading-12 {
  margin-bottom: 10px;
  font-size: 16pt;
}

.paragraph-10 {
  font-size: 12pt;
  line-height: 18pt;
}


.button-2 {
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  margin-bottom: 0;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12pt;
  line-height: 18pt;
  display: flex;
}

.button-3 {
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12pt;
  line-height: 18pt;
  display: flex;
}

.heading-13 {
  text-align: left;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin-top: 0;
  font-size: 14pt;
  line-height: 18pt;
  display: flex;
}


.text-block {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 12pt;
}

.show{
opacity:1;
transform:translateY(0%);
}

.show2{
background-color: transparent;
}
.show3{
width: 150px;
}
}

/*
@font-face {
  font-family: 'Nexatext Cufonfonts';
  src: url('../fonts/nexatext-cufonfonts.zip') format('undefined');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'nexaText-black';
  src: url('../fonts/NexaTextBlack.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
*/


@font-face {
  font-family: 'chillax light';
  src: url('../../fonts/Chillax-Light.otf');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Outfit-Bold';
  src: url('../../fonts/Outfit-Bold.otf');
  font-weight: 900;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: 'chillax bold';
  src: url('../../fonts/Chillax-Medium.otf');
  font-weight: 900;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit-Extralight';
  src: url('../../fonts/Outfit-ExtraLight.otf');
  font-weight: 100;
  font-style: light;
  font-display: swap;
}
