:root {
  --white: white;
  --black: black;
  --color: #d14b42;
  --main-font-family: 'chillax light';
  --main-font-weight: 100;
  --main-font-style: normal;
  --main-font-display: swap;
  --secondary-font-family: 'Outfit-Bold';
  --secondary-font-weight: 900;
  --secondary-font-style: bold;
  --secondary-font-display: swap;
  --third-font-family: 'chillax bold';
  --third-font-weight: 900;
  --third-font-style: bold;
  --third-font-display: swap;
  --fourth-font-family: 'Outfit Extralight';
  --fourth-font-weight: 100;
  --fourth-font-style: light;
  --fourth-font-display: swap;
}

.div-block {
  z-index: -3;
  background-image: url('../../images/pexels-jonathanborba-3076511.jpg');
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: absolute;
}

.image {
  background-image: url('../../images/pexels-jonathanborba-3076511.jpg');
  background-position: 50%;
  background-size: cover;
}

.body {
  background-color: #000;
}

.div-block-2 {
  z-index: -2;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(#000, rgba(255, 255, 255, 0));
  width: 100%;
  height: 100vh;
  display: flex;
  position: absolute;
}

.div-block-3 {
  z-index: -2;
  background-image: linear-gradient(rgba(255, 255, 255, 0), #000);
  width: 100%;
  height: 100vh;
  display: flex;
  position: absolute;
}

.navbar {
  background-color: rgba(221, 221, 221, 0);
  display: flex;
  justify-content: space-between;
  width:100%;
}

.div-block-4 {
  color: #fff;
  width: 100%;
  height: 100vh;
  padding-left: 120px;
  padding-right: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-2 {
  color: #fff;
  background-color: rgba(221, 221, 221, 0);
  width:100%;
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  height: 60px;
}

.nav-menu {
  color: #fff;
  align-items: center;
  font-family: var(--main-font-family);
  display: flex;
  justify-content: space-between;
  width:100%;
}

.container, .navlink {
  color: #fff;
  display:flex;
  justify-content: space-between;
  width:100%;
  height: 100%;
}

.button {
  background-color: #d24c43;
  opacity: 0.3;
  border-radius: 20px;
  font-family: var(--secondary-font-family);
  font-weight: 600;
}

.button:hover {
  background-color: #d24c43;
  opacity: 1;
  border-radius: 20px;
  font-family: var(--secondary-font-family);
  font-weight: 600;
}

.login {
  background-color: #d24c43;
  opacity: 0.3;
  border-radius: 20px;
  font-family: var(--secondary-font-family);
  font-weight: 600;
  display:flex;
  align-items: center;
  justify-content: center;
  width:80px;
  transition: width 0.2s ease-in-out, opacity 0.4s ease-in-out;
}

.login:hover {
  background-color: #d24c43;
  opacity: 1;
  border-radius: 20px;
  font-family: var(--secondary-font-family);
  font-weight: 600;
  width:90px;
}

.saibamais {
  background-color: #d24c43;
  opacity: 0.3;
  border-radius: 20px;
  font-family: var(--secondary-font-family);
  font-weight: 600;
  display:flex;
  align-items: center;
  justify-content: center;
  width:110px;
  transition: width 0.2s ease-in-out, opacity 0.4s ease-in-out;
}

.saibamais:hover {
  background-color: #d24c43;
  opacity: 1;
  border-radius: 20px;
  font-family: var(--secondary-font-family);
  font-weight: 600;
  width:120px;
}

.w-nav-link.a,.w-nav-link.b,.w-nav-link.c,.w-nav-link.d,.w-nav-link.e{
  opacity:0.4;
  transition: 0.2s ease-in-out;
}

.w-nav-link.a:hover{
  opacity:1;
  transition: 0.2s ease-in-out;
}
.w-nav-link.b:hover{
  opacity:1;
  transition: 0.2s ease-in-out;
}
.w-nav-link.c:hover{
  opacity:1;
  transition: 0.2s ease-in-out;
}
.w-nav-link.d:hover{
  opacity:1;
  transition: 0.2s ease-in-out;
}
.w-nav-link.e:hover{
  opacity:1;
  transition: 0.2s ease-in-out;
}


.div-block-5 {
  height: 100%;
  line-height: 24px;
  display:flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-family: var(--secondary-font-family);
}

.paragraph {
  margin-top: 20px;
  font-family: var(--secondary-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}

.div-block-6 {
  border-bottom: 3px solid #d24c43;
  width: 40%;
}

.div-block-7 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
}

.heading-2 {
  color: #fff;
  text-align: center;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 10px;
  font-family: var(--secondary-font-family);
  font-size: 21px;
  line-height: 28px;
  transform: translateY(200%);
  transition: transform 0.2s ease-in-out;
}

.paragraph-2 {
  color: #fff;
  text-align: center;
  font-family: var(--main-font-family);
  margin-top:30px;
}

.div-block-8 {
  border: 3px solid transparent;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  margin-left: 20px;
  display: flex;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out, border 0.3s ease-in-out, opacity 0.2s ease-in-out, width 0.4s ease-in-out, height 0.4s ease-in-out;
  cursor:pointer;
  opacity:0.5;
}

.div-block-8:hover {
  background-color: #d44a41;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-left: 20px;
  display: flex;
  opacity:1;
}


.div-block-8.icon1 {
  margin-left: 0;
}

/*
.div-block-8.selectedservice {
  background-color: #d44a41;
  border-style: none;
}
*/

header{
  margin: 6.25em auto;
  height: 30px;
  overflow: hidden;
  width: 100%;
  margin-bottom: 40px;
  margin-top:40px;
}

.div-block-9 {
  justify-content: center;
  display: flex;
}

.image-2 {
  width: 35px;
  height: auto;
}

.image-3 {
  width: 30px;
}

.image-4 {
  width: 50px;
}

.image-4.wara {
  margin-left: 5px;
}

.image-5 {
  width: 40px;
}

.image-6 {
  width: 50px;
}

.paragraph-3 {
  color: #fff;
  width: 210px;
  margin-right: -60px;
  font-family: var(--fourth-font-family);
  font-size: 14px;
  font-weight: 900;
  line-height: 21px;
  display: block;
  opacity: 0;
  transition: opacity 0.4s ease-in-out 1s;
}

.div-block-10 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
}

.image-7 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: auto;
  width: 400px;
  overflow: clip;
}

.div-block-11 {
  width: 400px;
  height: 27px;
  position: static;
}

.div-block-12 {
  z-index: -1;
  background-color: #000;
  background-image: linear-gradient(90deg, #000 3%, rgba(255, 255, 255, 0) 71%), url('../../images/imageab.png');
  background-position: 0 0, 0 0;
  background-size: auto, cover;
  border: 1px solid #000;
  width: 400px;
  height: 300px;
  transition: background-image 2s ease-in-out 1s;
}

.div-block-13 {
  opacity: 1;
  z-index: -2;
  background-color: #881c1c;
}

.div-block-14 {
  background-color:black;
  align-items: center;
  display: flex;
  transition: background-color 0.5s ease-in-out 200ms;
}

.div-block-15 {
  background-color: #fff;
  opacity: 0.2;
  border-radius: 50px;
  width: 8px;
  height: 8px;
}

.div-block-15 {
  background-color: #fff;
  border-radius: 50px;
  width: 8px;
  height: 8px;
  cursor:pointer;
};

.a {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.b {
  opacity: 0;
  transition: opacity 0.2s ease-in-out 100ms;
}
.c {
  opacity: 0;
  transition: opacity 0.2s ease-in-out 200ms;
}
.d {
  opacity: 0;
  transition: opacity 0.2s ease-in-out 300ms;
}
.e {
  opacity: 0;
  transition: opacity 0.2s ease-in-out 400ms;
}
.f {
  opacity: 0;
  transition: opacity 0.2s ease-in-out 500ms;
}
.g {
  opacity: 0;
  transition: opacity 0.2s ease-in-out 600ms;
}



.div-block-15:hover {
  background-color: #fff;
  opacity: 0.8;
  border-radius: 50px;
  width: 8px;
  height: 8px;
}


.div-block-15.selected {
  opacity: 1;
  background-color: #d14b42;
}

.div-block-16 {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin-top: 60px;
  display: flex;
  cursor:pointer;
}

.div-block-17 {
  width: 100%;
  height: 100vh;
  margin-bottom: 40px;
}

.heading-3 {
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 40px;
  font-family: var(--secondary-font-family);
  font-size: 21px;
  display: flex;
  transform: translateY(200%);
  opacity:0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.heading-3b {
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: var(--secondary-font-family);
  font-size: 21px;
  display: flex;
  transform: translateY(-100%);
  transition: transform 0.4s ease-in-out;
}

.div-block-18 {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  flex-flow: row;
  justify-content: center;
  height: 250px;
  display: flex;
}

.paragraph-4, .paragraph-5 {
  color: #fff;
  font-family: var(--fourth-font-family);
  line-height: 28px;
}

.paragraph-4{
  opacity: 0;
  transition: opacity 0.2s 100ms;
}

.paragraph-5{
  opacity: 0;
  transition: opacity 0.2s 200ms;
}

.paragraph-6{
  opacity: 0;
  transition: opacity 0.2s 300ms;
}

.paragraph-7{
  opacity: 0;
  transition: opacity 0.2s 400ms;
}

.div-block-19 {
  height: auto;
}

.paragraph-6 {
  color: var(--white);
  font-family: var(--fourth-font-family);
  line-height: 28px;
}

.paragraph-7 {
  color: #fff;
  font-family: var(--fourth-font-family);
  line-height: 28px;
}

.div-block-20, .div-block-21 {
  height: 300px;
}

.div-block-22 {
  background-color: #d14b42;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding:120px;
  display: flex;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  transform: translateY(50%);
  transition: transform 1s ease-in-out;
  overflow:hidden;
}

.div-block-23 {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  margin-bottom: 0px;
  display: flex;
  scroll-snap-align: start;
  height: auto;
  transition: opacity 0.2s ease-in-out;
}

.heading-4 {
  font-family:var(--secondary-font-family);
}

.heading-5 {
  color: #fff;
  width: 300px;
  font-family: var(--secondary-font-family);
  font-size: 21px;
  line-height: 28px;
}

.paragraph-8 {
  color: var(--white);
  width: 350px;
  font-family: var(--main-font-family);
  font-size: 12px;
  line-height: 16px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out 1.5s;
}

.textcolor {
  color: #d14b42;
}

.image-8, .image-9 {
  width: 120px;
}

.div-block-24 {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  flex-flow: column;
  display: flex;
  flex-direction: row;
  opacity:0;
  transform: translateY(0%);
  transition: opacity 0.4s ease-in-out 0.5s, transform 0.4s ease-in-out 0.5s;
}

.image-10 {
  width: 80px;
  margin-left: 20px;
}

.div-block-25 {
  display: flex;
}

.blogimages {
  background-image: radial-gradient(circle, #000, rgba(255, 255, 255, 0)), url('../../images/pexels-veganliftz-2377164.jpg');
  background-position: 0 0, 0 0;
  background-size: auto, auto;
  width: 200px;
  height: 120px;
}

.div-block-26, .div-block-27 {
  width: 200px;
  height: 120px;
}

.div-block-28 {
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0), rgba(0, 0, 0, .73)), url('../../images/pexels-veganliftz-2377164.jpg');
  background-position: 0 0, 50%;
  background-size: auto, 100%;
  width: 250px;
  height: 150px;
}

.div-block-28.blogimage2 {
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0), rgba(0, 0, 0, .73)), url('../../images/Best-shoulder-workout-for-muscle-mass_88ddab86-804f-41c3-9b20-2d6daace5b61_480x480.webp');
  width: 250px;
  height: 150px;
}

.div-block-28.blogimage3 {
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0), rgba(0, 0, 0, .73)), url('../../images/pexels-willpicturethis-1954524.jpg');
  width: 250px;
  height: 150px;
}

.div-block-29 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  opacity: 0;
  filter:blur(4px);
  transition: filter 0.4s ease-in-out 0.6s, opacity 0.2s ease-in-out 0.6s;
}

.div-block-30 {
  height: auto;
}

.heading-6 {
  font-family: var(--secondary-font-family);
  font-size: 12px;
}

.heading-7 {
  color: #fff;
  justify-content: flex-start;
  align-items: flex-start;
  width: 250px;
  height: 40px;
  margin-top: 0;
  padding-top: 10px;
  font-family: var(--secondary-font-family);
  font-size: 14px;
  line-height: 16px;
  display: flex;
  transform: translateY(-50%);
  opacity: 0;
  z-index: -5;
  transition: transform 0.2s ease-in-out 1.2s, opacity 0.2s ease-in-out 1.2s;
}

.paragraph-9 {
  color: #fff;
  width: 250px;
  font-family: var(--main-font-family);
  font-size: 12px;
  line-height: 14px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out 1.5s;
}

.heading-8 {
  color: #d14b42;
  opacity: 0.1;
  text-align: right;
  font-family: var(--secondary-font-family);
  font-size: 12px;
  line-height: 24px;
  margin-right:0px;
  transition: opacity 0.2s ease-in-out, margin-right 0.2s ease-in-out;
  cursor:pointer;
}

.heading-8:hover {
  color: #d14b42;
  opacity: 1;
  text-align: right;
  font-family: var(--secondary-font-family);
  font-size: 12px;
  line-height: 24px;
  margin-right:5px;
}

.heading-9 {
  color: #fff;
  opacity:0.1;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  font-family: var(--fourth-font-family);
  font-size: 13.9px;
  line-height: 20px;
  display: flex;
  transition: opacity 0.2s ease-in-out,font-size 0.2s ease-in-out;
  cursor:pointer;
}

.heading-9:hover {
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  font-family: var(--fourth-font-family);
  font-size: 14px;
  line-height: 20px;
  display: flex;
  opacity: 1;
  font-size: 14px;
}

.heading-10 {
  color: #d14b42;
  opacity: 0.1;
  text-align: center;
  font-family: var(--secondary-font-family);
  font-size: 12px;
  transition: opacity 0.2s ease-in-out, font-size 0.2s ease-in-out;
  cursor:pointer;
}

.heading-10:hover {
  color: #d14b42;
  text-align: center;
  font-family: var(--secondary-font-family);
  font-size: 14px;
  opacity: 1;
}


.div-block-31 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  display: flex;
  height: auto;
}

.heading-11 {
  color: #000;
  opacity: 0.4;
  font-family: var(--secondary-font-family);
  font-size: 14px;
  transition: font-size 0.2s ease-in-out, opacity 0.2s ease-in-out;
  cursor:pointer;
  height: auto;
  margin-top:0px;
  margin-bottom: 0;
}

.heading-11:hover {
  color: #000;
  font-family: var(--secondary-font-family);
  font-size: 16px;
  opacity: 1;
}

.section {
  background-color: #d14b42;
  flex-flow: column;
  justify-content: space-between;
  height: auto;
  padding-top: 60px;
  display: flex;
}

.heading-12 {
  color: #fff;
  font-family: var(--third-font-family);
  font-size: 21px;
}

.paragraph-10 {
  color: #fff;
  margin-bottom: 0;
  font-family: var(--main-font-family);
  font-size: 14px;
}

.paragraph-10.link {
  margin-bottom: 10px;
  text-decoration: underline;
}

.div-block-32 {
  justify-content: space-around;
  display: flex;
}

.div-block-33 {
  flex-flow: column;
  width: 40%;
  display: flex;
}

.div-block-34 {
  border-left: 1px solid #fff;
  padding-left: 20px;
}

.div-block-35 {
  justify-content: flex-start;
  display: flex;
}

.text-block {
  color: #fff;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  font-family: var(--main-font-family);
  display: flex;
}

.div-block-36 {
  padding-right: 20px;
}

.div-block-37 {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.button-2 {
  text-align: center;
  background-color: #000;
  border-radius: 25px;
  margin-bottom: 20px;
  font-family: var(--secondary-font-family);
  font-weight: 600;
}

.button-3 {
  text-align: center;
  background-color: #000;
  border-radius: 25px;
  font-family: var(--secondary-font-family);
  font-weight: 600;
}

.heading-13 {
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: 12px;
}

.image-12{
opacity: 0;
transform: translateX(-50%);
transition: all 0.8s ease-in-out 400ms;
}

.brand {
  background-image: url('../../images/solincab.png');
  background-position: 50%;
  background-repeat: repeat-x;
  background-size: contain;
}

.image-11 {
  width: 100px;
}

.div-block-40 {
  height: 100vh;
}


.show{
  transform: translateY(0%);
  opacity:1;
  transform: translateX(0%);
}

.show2{
  width: 80px;
  height: 80px;
}

.show3{
  background-color: transparent;
}

.show4{
opacity: 0.2;
}

.show5{
  filter: blur(0);
  opacity: 1;
  transform: translateY(0%);
  }

  .show6{
    transform: translateY(0%);
    height: 100vh;
    }

.show7{
  transform: translateY(0%);
}
  

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d14b42;
  border-radius: 20px;
  cursor:pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  width: 10px;
}
@media screen and (max-width: 991px) {
  .body {
    height: 100vh;
  }

  .div-block-4 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .div-block-5 {
    text-align: center;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
  }

  .div-block-7 {
    height: 100vh;
  }

  .heading-2 {
    font-size: 26px;
  }

  .paragraph-2 {
    font-size: 18px;
  }

  .paragraph-3 {
    font-size: 15px;
  }

  .div-block-10 {
    height: 100vh;
  }

  .div-block-17 {
    height: 100vh;
    margin-bottom: 0;
  }

  .heading-3 {
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 26px;
  }

  .paragraph-4 {
    font-size: 15px;
  }

  .div-block-22 {
    height: 100vh;
    padding:80px;
    display: block;
  }

  .heading-5 {
    font-size: 18px;
    line-height: 18px;
  }

  .paragraph-8 {
    width: 100%;
    font-size: 15px;
    line-height: 18px;
  }

  .div-block-28, .div-block-28.blogimage2 {
    width: 100%;
    height: 125px;
  }

  .div-block-28.blogimage3 {
    box-sizing: border-box;
    aspect-ratio: 2 / 3;
    object-fit: fill;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 125px;
    display: flex;
    overflow: auto;
  }

  .div-block-30 {
    align-self: flex-start;
    width: 25%;
    height: 100%;
  }

  .heading-7 {
    width: 100%;
    height: 50px;
    font-size: 18px;
    line-height: 19px;
  }

  .paragraph-9 {
    width: 100%;
    font-size: 15px;
    line-height: 16px;
  }

  .heading-9 {
    height: 100px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .heading-10 {
    margin-bottom: 0;
    font-size: 18px;
  }

  .section {
    padding-left: 40px;
    padding-right: 40px;
  }

  .heading-12 {
    font-size: 18px;
  }

  .paragraph-10 {
    font-size: 15px;
  }

  .div-block-32 {
    justify-content: space-between;
  }

  .div-block-34 {
    border-left-style: none;
    border-left-width: 0;
    padding-left: 0;
  }

  .div-block-35 {
    flex-flow: column;
  }

  .text-block, .heading-13 {
    font-size: 15px;
  }

  .div-block-38 {
    align-self: flex-start;
    width: 25%;
    height: 100%;
  }

  .div-block-39 {
    align-self: flex-start;
    width: 25%;
  }

  .div-block-40 {
    height: 100vh;
  }


.brandA {
    display: none;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: right;
  }

  
  .div-block-22 {
    height: 100vh;
    padding:40px;
    display: block;
  }
}

@media screen and (max-width: 767px) {
    .div-block-22 {
    height: auto;
    padding:40px;
    display: block;
  }
  .div-block-2 {
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
  }

  .div-block-4 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: right;
  }

  .div-block-10 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .div-block-14 {
    width: 100%;
  }

  .div-block-17 {
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
  }

  .heading-3 {
    margin-bottom: 0;
  }

  .div-block-18 {
    height: auto;
    font-size: 12px;
  }

  .paragraph-4, .paragraph-5, .paragraph-6, .paragraph-7 {
    height: 100%;
    margin-bottom: 0;
  }

  .div-block-20, .div-block-21 {
    height: 100%;
  }

  .div-block-23 {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 0px;
  }

  .heading-5 {
    width: 100%;
    font-size: 16px;
  }

  .paragraph-8 {
    font-size: 14px;
  }

  .div-block-28.blogimage3 {
    height: 190px;
  }

  .div-block-30 {
    width: 50%;
  }

  .heading-8 {
    margin-bottom: 0;
  }

  .heading-9 {
    opacity: .1;
  }

  .heading-10 {
    width: 100%;
    margin-top: 0;
    padding-top: 0;
  }

  .div-block-31 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .section {
    height: auto;
  }

  .heading-12 {
    margin-top: 0;
    line-height: 24px;
  }

  .paragraph-10 {
    font-size: 14px;
  }

  .div-block-33 {
    width: 35%;
  }

  .text-block {
    margin-bottom: 40px;
  }

  .div-block-37 {
    justify-content: flex-start;
    width: 125px;
  }

  .button-2 {
    margin-bottom: 10px;
    font-size: 11px;
  }

  .button-3 {
    font-size: 11px;
  }

  .heading-13 {
    align-self: center;
    font-size: 14px;
    line-height: 21px;
  }

  .image-11 {
    width: 50px;
    margin-top: 40px;
  }

  .div-block-38 {
    display: none;
    overflow: visible;
  }

  .div-block-39 {
    display: none;
  }

  .image-12 {
    width: 320px;
    height: 250px;
  }

  .div-block-41 {
    align-self: flex-start;
    line-height: 24px;
  }

  .navbar {
    background-color: rgba(221, 221, 221, 0);
    display: flex;
    justify-content: right;
    width:100%;
  }
  
  .navbar-2 {
    color: #fff;
    background-color: rgba(221, 221, 221, 0);
    width:100%;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    height: 60px;
  }

  .brand {
    display: none;
  }
  .div-block-17 {
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
  }

  .div-block-24 {
    flex-direction: column;
    transform: translateY(0%);
    transition: opacity 0.4s ease-in-out 0.5s, transform 0.4s ease-in-out 0.5s;
  }
}

@media screen and (max-width: 479px) {
  .div-block-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .div-block-5 {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .heading {
    font-size: 24px;
    line-height: 28px;
  }

  .paragraph {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
  }

  .div-block-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .heading-2 {
    font-size: 24px;
  }

  .paragraph-2 {
    font-size: 16px;
  }

  .div-block-8 {
    width: 60px;
    height: 60px;
    margin-left: 0;
  }

  .div-block-8.icon1, .div-block-8.selectedservice {
    width: 60px;
    height: 60px;
  }

  .div-block-9 {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: wrap;
    height: auto;
  }

  .image-2 {
    width: 30px;
  }

  .image-3 {
    width: 25px;
  }

  .image-4.wara {
    width: 40px;
  }

  .image-5 {
    width: 30px;
  }

  .image-6 {
    width: 40px;
  }

  .paragraph-3 {
    width: 350px;
    margin-bottom: 0;
    margin-right: -120px;
  }

  .div-block-12 {
    background-image: linear-gradient(90deg, #000 3%, rgba(255, 255, 255, 0) 71%), url('../../images/imageab.png');
    width: 540px;
    height: 225px;
  }

  .div-block-15, .div-block-15.selected {
    width: 5px;
    height: 5px;
  }

  .div-block-16 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 146px;
  }

  .heading-3 {
    height: 80px;
    font-size: 24px;
  }

  .div-block-18 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
  }

  .paragraph-4 {
    text-align: center;
    font-size: 12px;
    line-height: 21px;
  }

  .paragraph-5, .paragraph-6, .paragraph-7 {
    line-height: 21px;
    display: none;
  }


  .div-block-22 {
    height: auto;
    padding: 20px;
    display: block;
  }
  .div-block-23 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
  }

  .heading-5 {
    margin-top: 0;
    font-size: 14px;
    line-height: 16px;
  }

  .paragraph-8 {
    font-size: 12px;
    line-height: 14px;
  }

  .image-8, .image-9 {
    width: 80px;
  }

  .div-block-24 {
    flex-flow: row;
  }

  .image-10 {
    width: 60px;
  }

  .div-block-28.blogimage3 {
    height: 180px;
  }

  .div-block-29 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .div-block-30 {
    width: 100%;
  }

  .heading-7 {
    margin-bottom: 0;
  }

  .paragraph-9 {
    font-size: 12px;
    line-height: 14px;
  }

  .heading-9 {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 16px;
  }

  .heading-10 {
    font-size: 14px;
  }

  .div-block-31 {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    height: auto;
  }

  .heading-11 {
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-top:0px;
    margin-bottom: 0;
    line-height: 21px;
    display: flex;
  }

  .section {
    flex-flow: column;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .heading-12 {
    margin-bottom: 0;
    font-size: 16px;
  }

  .paragraph-10 {
    font-size: 12px;
    line-height: 18px;
  }

  .div-block-32 {
    flex-flow: column;
    height: 85%;
  }

  .div-block-34 {
    border-left-style: solid;
    border-left-width: 0px;
    padding-left: 0px;
  }

  .div-block-35 {
    flex-flow: row;
  }

  .text-block {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 11px;
  }

  .div-block-37 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-flow: row;
    justify-content: left;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
    flex-direction: column;
  }

  .button-2 {
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 25px;
    margin-bottom: 0;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 8px;
    line-height: 14px;
    display: flex;
  }

  .button-3 {
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 25px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 8px;
    line-height: 14px;
    display: flex;
  }

  .heading-13 {
    text-align: center;
    justify-content: left;
    align-items: flex-start;
    width: 100%;
    text-align:left;
    margin-top: 0;
    font-size: 11px;
    line-height: 14px;
    display: flex;
  }

  .image-12 {
    width: 180px;
    height: 200px;
  }

  .div-block-41 {
    margin-bottom: 20px;
  }

  .show2{
    width: 60px;
    height: 60px;
  }

  .div-block-8:hover {
    background-color: #d44a41;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin-left: 0px;
    display: flex;
    opacity:1;
  }
  .div-block-10 {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left:20px;
    padding-right:20px;
    display: flex;
  }
  
}

@media screen and (max-width: 479px) {

.div-block-35 {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}
.heading-2, .heading-3, .heading-3b, .heading-7 {
  font-size: 18px;
}

.heading{
  font-size: 21px;
}

header{
  margin:20px;
}

}

/*
@font-face {
  font-family: 'Nexatext Cufonfonts';
  src: url('../../fonts/nexatext-cufonfonts.zip') format('undefined');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'nexaText-black';
  src: url('../../fonts/NexaTextBlack.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
*/




@media screen and (max-width: 340px) {
  .div-block-7{
    padding-left:10px;
    padding-right:10px;
    height: auto;
  }
  .div-block-10 {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left:10px;
    padding-right:10px;
    display: flex;
  }
  .div-block-17 {
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
  }
  .div-block-29 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .div-block-22 {
    padding: 10px;
    height:auto;
  }
  .div-block-24 {
flex-direction: row;
  }
  
  .div-block-28.blogimage3 {
    box-sizing: border-box;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180px;
    display: flex;
    overflow: auto;
    background-position: 0 0, 80%;
    background-size: auto, 200%;
    background-repeat: no-repeat;
  }

  .heading-8 {
text-align: center;
font-size: 14px;
margin-top:40px;
  }

  .div-block-12 {
    background-image: linear-gradient(90deg, #000 20%, rgba(255, 255, 255, 0) 80%), url('../../images/imageab.png');
    width: 540px;
    height: 225px;
  }


}

















@font-face {
  font-family: 'chillax light';
  src: url('../../fonts/Chillax-Light.otf');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Outfit-Bold';
  src: url('../../fonts/Outfit-Bold.otf');
  font-weight: 900;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: 'chillax bold';
  src: url('../../fonts/Chillax-Medium.otf');
  font-weight: 900;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit-Extralight';
  src: url('../../fonts/Outfit-ExtraLight.otf');
  font-weight: 100;
  font-style: light;
  font-display: swap;
}
